
.ld-custom-name {
    color: #ffffff;
}

.ld-custom-name:visited {
    color: black;
}

.ld-custom-button-container {
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    -webkit-transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    border: 2px solid;
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
}

.ld-custom-button-container:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.ld-custom-button {
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.ld-custom-background-layer {
    background-color: #000000;
    background-image: url(https://d1fdloi71mui9q.cloudfront.net/FBTkw8oKSYCZI67DK8jb_909e87cd2029b8fd3a8eb694d9e8c9638);
}
.ld-description-container h2 {
  color: white;
}

.ld-profile-image:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: border-ani;
    animation-name: border-ani;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.ld-profile-image {
    box-shadow: 0px 0px 30px #5cc9f5;
    border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
    box-shadow: 0 0 20px #5cc9f5;
    cursor: pointer;
}
.ld-profile-image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: block;
    object-fit: contain;
    object-position: initial;
    -webkit-filter: none;
    filter: none;
}

